<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro - OdontoPrev</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <h2>Erro!</h2>
        <p th:text="${message}">Erro inesperado!!</p>
        <form action="#" th:action="@{/home}" method="post">
            <button class="login-button" type="submit">Tentar novamente</button>
        </form>
    </div>
</body>
</html>