<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços - OdontoPrev</title>
    <link rel="stylesheet" href="/css/servicos.css">
</head>
<body>

    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="OdontoPrev">
        </div>

        <h2>Serviços</h2>

        <form action="#" th:action="@{/manageAddresses}" method="post">
            <button class="login-button" type="submit">Gerir Endereços</button>
        </form>
    </div>

</body>
</html>